.LetsSeeWhatIAm {
    height: 40px;
    width: 100%;
    display: flex;
    background-color: gray;
    justify-content: space-between;
}


.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}